.body{
    font-family: 'Bebas Neue', sans-serif;
}

.Tesla-button{
    justify-content: center;
    padding:  10px;
    margin-left: 490px;
    margin-right: 200px;
    margin-top: 100px;
}



.Tesla-span{
    margin-left: 595px;
    margin-top: 500px;
    color: rgb(0, 0, 0);
    font-size: 30px;
    line-height: 40px;
    justify-content: center;
}